@use './vars' as*;

@mixin btnBlue() {
  width: 155px;
  padding: 8px 14px;
  background-color: $secondary-color;
  border: none;
  box-shadow: 1px 1px 4px 0px rgba($color: $secondary-color, $alpha: 1.0);
  color: #f8f9fc;
  border-radius: 8px;
}


@mixin btnWhite() {
  width: 155px;
  padding: 8px 14px;
  background-color: $top-background;
  color: $secondary-color;
  border-radius: 8px;
  border: 1px solid $secondary-color;
}

@mixin h3 {
  font-weight: 700;
  padding-bottom: 20px;
  line-height: 1.5;
}

@mixin p {
  color: $primary-font;
}